@media only screen and (max-width: 450px) {

    * {
        margin: 0;
        padding: 0;
    }

    #body {
        background-image: url("../images/backgroundImage.jpg");
    }
    
    #headerGridContainer {
        display: grid;
        grid-template-rows: 12vh;
    }
    
    #logoContainerMenu {
        background-color: #eb0000;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 40vw 25vw 35vw;
        position: fixed;
    }
    
    #logo {
        height: 12vh;
        width: auto;
    }
    
    #homeFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }
    
    #aboutUsFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }

    #menuCallUs {
        display: grid;
        grid-template-rows: 12vh;
        justify-items: center;
        align-items: center;
    }

    #callMe {
        text-decoration: none;
        font-size: 28px;
        font-weight: bolder;
        color: white;
    }

    #menuPageSelectorsNonHeader {
        display: grid;
        grid-template-rows: 12vh;
        justify-items: center;
        align-items: center;
    }

    #returnToCategorySelection {
        text-decoration: none;
        font-size: 22px;
        font-weight: bolder;
        color: white;
    }

    #appyPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
    }

    #drinkPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
    }

    #dessertPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
    }

    #pizzaPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
    }

    #postLinksDivider {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 35px;
    }

    #halfPricePizzaDiv {
        text-align: center;
        color: white;
        font-size: 22px;
        padding-top: 20px;
    }

    #cardsContainer {
        display: grid;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
        justify-items: center;
        background-color: #f4d6ad;
    }

    .Cards {
        max-height: 30vh;
        display: grid;
        justify-items: center;
        align-items: center;
        padding-bottom: 60px;
        padding-top: 45px;
    }

    .pizzaImages {
        width: 50vw;
        height: auto;
    }

    .appyImages {
        width: 50vw;
        height: auto;
    }

    .drinkImages {
        width: 50vw;
        height: auto;
    }

    .dessertImages {
        width: 50vw;
        height: auto;
    }

    .appyTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    .drinkTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    .dessertTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    #caesarSaladDiv {
        padding-bottom: 45px;
    }

    .pizzaTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    .pizzaDescriptions {
        text-align: center;
        color: #484538;
        font-size: 18px;
        padding-top: 15px;
    }

    #margherita {
        height: 20vh;
        width: auto;
    }

    #tomatoMozzarellaDiv {
        display: grid;
        height: 50vh;
        width: auto;
        padding-bottom: 240px;
    }

    #iceCreamDiv {
        padding-bottom: 120px;
    }

    .dessertSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    .pizzaSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    .appySpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    #yamFriesDiv {
        padding-bottom: 200px;
    }

    .drinkSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    .dessertSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    #footerContainer {
        display: grid;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-rows: 7vh;
        background-color: #eb0000;
        position: fixed;
        bottom: 0;
        align-items: center;
        
    }

    #footerLogo {
        height: 7vh;
    }

    #footerSpacer {
        font-size: 7px;
        padding-left: 6vw;    
    }

    #twitterLogo {
        height: 3vh;
    }

    #facebookLogo {
        height: 3vh;
    }

    #instaLogo {
        height: 3vh;
    }

    
}



@media only screen and (min-width: 451px) {

    * {
        margin: 0;
        padding: 0;
    }

    #body {
        background-image: url("../images/backgroundImageTabletDesktop.jpg");
    }
    
    #headerGridContainer {
        display: grid;
        grid-template-rows: 12vh;
    }
    
    #logoContainerMenu {
        background-color: #eb0000;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 40vw 25vw 35vw;
        position: fixed;
    }
    
    #logo {
        height: 12vh;
        width: auto;
    }
    
    #homeFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 28px;
    }
    
    #aboutUsFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 28px;
    }

    #menuCallUs {
        display: grid;
        grid-template-rows: 12vh;
        justify-items: center;
        align-items: center;
    }

    #callMe {
        text-decoration: none;
        font-size: 34px;
        font-weight: bolder;
        color: white;
    }

    #menuPageSelectorsNonHeader {
        display: grid;
        grid-template-rows: 12vh;
        justify-items: center;
        align-items: center;
    }

    #returnToCategorySelection {
        text-decoration: none;
        font-size: 32px;
        font-weight: bolder;
        color: white;
    }

    #appyPricesDiv {
        text-decoration: none;
        font-size: 28px;
        color: white;
        padding-top: 20px;
    }

    #drinkPricesDiv {
        text-decoration: none;
        font-size: 28px;
        color: white;
        padding-top: 20px;
    }

    #dessertPricesDiv {
        text-decoration: none;
        font-size: 28px;
        color: white;
        padding-top: 20px;
    }

    #pizzaPricesDiv {
        text-decoration: none;
        font-size: 28px;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    #postLinksDivider {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 35px;
    }

    #halfPricePizzaDiv {
        text-align: center;
        color: white;
        font-size: 26px;
        padding-top: 20px;
    }

    #cardsContainer {
        display: grid;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
        justify-items: center;
        background-color: #f4d6ad;
    }

    .Cards {
        max-height: 42vh;
        display: grid;
        justify-items: center;
        align-items: center;
        padding-bottom: 60px;
        padding-top: 45px;
    }

    .pizzaImages {
        width: 50vw;
        height: auto;
    }

    .appyImages {
        width: auto;
        height: 40vh;
    }

    .drinkImages {
        width: 50vw;
        height: auto;
    }

    .dessertImages {
        width: auto;
        height: 40vh;
    }

    .appyTitles {
        text-align: center;
        color: #484538;
        font-size: 26px;
        padding-top: 20px;
    }

    .drinkTitles {
        text-align: center;
        color: #484538;
        font-size: 28px;
        padding-top: 20px;
    }

    .dessertTitles {
        text-align: center;
        color: #484538;
        font-size: 28px;
        padding-top: 20px;
    }

    #caesarSaladDiv {
        padding-bottom: 45px;
    }

    .pizzaTitles {
        text-align: center;
        color: #484538;
        font-size: 28px;
        padding-top: 20px;
    }

    .pizzaDescriptions {
        text-align: center;
        color: #484538;
        font-size: 18px;
        padding-top: 15px;
    }

    #margherita {
        height: 20vh;
        width: auto;
    }

    #tomatoMozzarellaDiv {
        display: grid;
        height: 50vh;
        width: auto;
        padding-bottom: 350px;
    }

    #iceCreamDiv {
        padding-bottom: 120px;
    }

    .dessertSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    .pizzaSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    .appySpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    #yamFriesDiv {
        padding-bottom: 200px;
    }

    .drinkSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    .dessertSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    #footerContainer {
        display: grid;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-rows: 7vh;
        background-color: #eb0000;
        position: fixed;
        bottom: 0;
        align-items: center;
        justify-items: center;
        
    }

    #footerLogo {
        height: 7vh;
    }

    #footerSpacer {
        font-size: 7px;
        padding-left: 6vw;    
    }

    #twitterLogo {
        height: 3vh;
    }

    #facebookLogo {
        height: 3vh;
    }

    #instaLogo {
        height: 3vh;
    }

    
}



@media only screen and (min-width: 900px) {

    * {
        margin: 0;
        padding: 0;
    }

    #body {
        background-image: url("../images/backgroundImageTabletDesktop.jpg");
    }
    
    #headerGridContainer {
        display: grid;
        grid-template-rows: 12vh;
    }
    
    #logoContainerMenu {
        background-color: #eb0000;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 40vw 25vw 35vw;
        position: fixed;
    }
    
    #logo {
        height: 12vh;
        width: auto;
    }
    
    #homeFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 34px;
    }
    
    #aboutUsFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 34px;
    }

    #menuCallUs {
        display: grid;
        grid-template-rows: 12vh;
        justify-items: center;
        align-items: center;
    }

    #callMe {
        text-decoration: none;
        font-size: 40px;
        font-weight: bolder;
        color: white;
    }

    #menuPageSelectorsNonHeader {
        display: grid;
        grid-template-rows: 12vh;
        justify-items: center;
        align-items: center;
    }

    #returnToCategorySelection {
        text-decoration: none;
        font-size: 36px;
        font-weight: bolder;
        color: white;
    }

    #appyPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
    }

    #drinkPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
    }

    #dessertPricesDiv {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding-top: 20px;
    }

    #pizzaPricesDiv {
        text-decoration: none;
        font-size: 28px;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    #halfPricePizzaDiv {
        text-align: center;
        color: white;
        font-size: 34px;
        padding-top: 20px;
    }

    #cardsContainer {
        display: grid;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
        justify-items: center;
        background-color: #f4d6ad;
    }

    .Cards {
        max-height: 30vh;
        display: grid;
        justify-items: center;
        align-items: center;
        padding-bottom: 60px;
        padding-top: 45px;
    }

    .pizzaImages {
        width: auto;
        height: 30vh;
    }

    .appyImages {
        width: auto;
        height: 35vh;
    }

    .drinkImages {
        width: auto;
        height: 35vh;
    }

    .dessertImages {
        width: auto;
        height: 33vh;
    }

    .appyTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    .drinkTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    .dessertTitles {
        text-align: center;
        color: #484538;
        font-size: 22px;
        padding-top: 20px;
    }

    #caesarSaladDiv {
        padding-bottom: 45px;
    }

    .pizzaTitles {
        text-align: center;
        color: #484538;
        font-size: 32px;
        padding-top: 20px;
    }

    .pizzaDescriptions {
        text-align: center;
        color: #484538;
        font-size: 26px;
        padding-top: 15px;
    }

    #margherita {
        height: 20vh;
        width: auto;
    }

    #spriteDiv {
        padding-bottom: 180px;
    }

    #tomatoMozzarellaDiv {
        display: grid;
        height: 50vh;
        width: auto;
        padding-bottom: 240px;
    }

    #iceCreamDiv {
        padding-bottom: 120px;
    }

    .dessertSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 90px;
        width: 70vw;
    }

    .pizzaSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    .appySpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    #yamFriesDiv {
        padding-bottom: 200px;
    }

    .drinkSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 60px;
        width: 70vw;
    }

    .dessertSpacerLines {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        width: 70vw;
    }

    #footerContainer {
        display: grid;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-rows: 7vh;
        background-color: #eb0000;
        position: fixed;
        bottom: 0;
        align-items: center;
        
    }

    #footerLogo {
        height: 7vh;
    }

    #footerSpacer {
        font-size: 14px;
        padding-left: 6vw;    
    }

    #twitterLogo {
        height: 3vh;
    }

    #facebookLogo {
        height: 3vh;
    }

    #instaLogo {
        height: 3vh;
    }

    

}