
@media only screen and (max-width: 450px) {
    
    /*CSS styling for the home page*/

    

    * {
        margin: 0px;
        padding: 0px;
    }

    #body {
        background-image: url("../images/backgroundImage.jpg");
    }
    
    #headerGridContainer {
        display: grid;
        grid-template-rows: 12vh;
    }

    #logo {
        height: 12vh;
        width: auto;
    }
    
    #logoContainer {
        background-color: #eb0000;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 30vw 40vw 30vw;
        position: fixed;
    }

    #headerNavbarSpacer {
        height: 7vh;
    }

    #navbarGridContainer {
        display: grid;
        grid-template-rows: 9vh 8vh 8vh;
        justify-items: center;
    }

    #callMe {
        text-decoration: none;
        font-size: 28px;
        font-weight: bolder;
        color: white;
    }

    #ourMenu {
        text-decoration: none;
        color: white;
        font-size: 26px;
    }

    #aboutUs {
        text-decoration: none;
        color: white;
        font-size: 26px;
    }

    #postLinksDivider {
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    #ourLocationContainer {
        display: grid;
        grid-template-rows: 12vh 20vh;
        justify-items: center;
        align-items: center;
    }

    #ourLocation {
        font-size: 26px;
        color: white;
    }

    #googleMapsLocation {
        width: 80vw;
        height: auto;
    }

    #footerContainer {
        display: grid;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-rows: 7vh;
        background-color: #eb0000;
        position: fixed;
        bottom: 0;
        align-items: center;
        
    }

    #footerLogo {
        height: 7vh;
    }

    #footerSpacer {
        font-size: 7px;
        padding-left: 6vw;    
    }

    #twitterLogo {
        height: 3vh;
    }

    #facebookLogo {
        height: 3vh;
    }

    #instaLogo {
        height: 3vh;
    }



    /*CSS styling for the menu page*/



    #logoContainerMenu {
        background-color: #eb0000;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 40vw 25vw 35vw;
        position: fixed;
    }

    #homeFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }

    #aboutUsFromMenuLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }



    /*CSS styling for the about us page*/



    #logoContainerAboutUs {
        background-color: #eb0000;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 40vw 25vw 35vw;
        position: fixed;
    }

    #homeFromAboutUsLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }

    #menuFromAboutUsLink {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }

}

