@media only screen and (max-width: 450px) {
  /*CSS styling for the home page*/
  * {
    margin: 0px;
    padding: 0px;
  }
  #body {
    background-image: url("../images/backgroundImage.jpg");
  }
  #headerGridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh;
        grid-template-rows: 12vh;
  }
  #logo {
    height: 12vh;
    width: auto;
  }
  #logoContainer {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 30vw 40vw 30vw;
        grid-template-columns: 30vw 40vw 30vw;
    position: fixed;
  }
  #headerNavbarSpacer {
    height: 7vh;
  }
  #navbarGridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 9vh 8vh 8vh;
        grid-template-rows: 9vh 8vh 8vh;
    justify-items: center;
  }
  #callMe {
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    color: white;
  }
  #ourMenu {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }
  #aboutUs {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }
  #postLinksDivider {
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
  #ourLocationContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh 20vh;
        grid-template-rows: 12vh 20vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #ourLocation {
    font-size: 26px;
    color: white;
  }
  #googleMapsLocation {
    width: 80vw;
    height: auto;
  }
  #footerContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
    -ms-grid-rows: 7vh;
        grid-template-rows: 7vh;
    background-color: #eb0000;
    position: fixed;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footerLogo {
    height: 7vh;
  }
  #footerSpacer {
    font-size: 7px;
    padding-left: 6vw;
  }
  #twitterLogo {
    height: 3vh;
  }
  #facebookLogo {
    height: 3vh;
  }
  #instaLogo {
    height: 3vh;
  }
  /*CSS styling for the menu page*/
  #logoContainerMenu {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 40vw 25vw 35vw;
        grid-template-columns: 40vw 25vw 35vw;
    position: fixed;
  }
  #homeFromMenuLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #aboutUsFromMenuLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #menuCategoryContainer {
    display: -ms-grid;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4d6ad;
    margin-left: 20px;
    margin-right: 20px;
    -ms-grid-rows: 10vh 10vh 10vh 10vh;
        grid-template-rows: 10vh 10vh 10vh 10vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menuCallUs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh;
        grid-template-rows: 12vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuSelectors {
    font-size: 26px;
    text-decoration: none;
  }
  .menuSelectorLinks {
    text-decoration: none;
    color: #484538;
    font-weight: bolder;
  }
  /*CSS styling for the about us page*/
  #logoContainerAboutUs {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 40vw 25vw 35vw;
        grid-template-columns: 40vw 25vw 35vw;
    position: fixed;
  }
  #homeFromAboutUsLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #menuFromAboutUsLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #videoContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding-top: 27.5px;
  }
  #hoursAndAddressDiv {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  #hoursAndAddress {
    text-align: center;
    color: white;
    font-size: 22px;
  }
  #writtenContentContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60vh 40vh 40vh;
        grid-template-rows: 60vh 40vh 40vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4d6ad;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .writtenContent {
    color: #484538;
    text-align: center;
    font-size: 20px;
  }
  #paragraph1 {
    padding-top: 30px;
  }
  #paragraph2 {
    padding-top: 30px;
  }
  #paragraph3 {
    padding-top: 10vh;
    padding-bottom: 12vh;
  }
  #writtenContentImage1 {
    width: 70vw;
    height: auto;
  }
  #writtenContentImage2 {
    width: 70vw;
    height: auto;
    padding-top: 10vh;
  }
}

@media only screen and (min-width: 451px) {
  /*CSS styling for the home page*/
  * {
    margin: 0px;
    padding: 0px;
  }
  #body {
    background-image: url("../images/backgroundImageTabletDesktop.jpg");
  }
  #headerGridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh;
        grid-template-rows: 12vh;
  }
  #logo {
    height: 12vh;
    width: auto;
  }
  #logoContainer {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 30vw 40vw 30vw;
        grid-template-columns: 30vw 40vw 30vw;
    position: fixed;
  }
  #headerNavbarSpacer {
    height: 7vh;
  }
  #navbarGridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 9vh 8vh 8vh;
        grid-template-rows: 9vh 8vh 8vh;
    justify-items: center;
  }
  #callMe {
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    color: white;
  }
  #ourMenu {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }
  #aboutUs {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }
  #postLinksDivider {
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
  #ourLocationContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh 20vh;
        grid-template-rows: 12vh 20vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #ourLocation {
    font-size: 26px;
    color: white;
  }
  #googleMapsLocation {
    width: 80vw;
    height: auto;
  }
  #footerContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
    -ms-grid-rows: 7vh;
        grid-template-rows: 7vh;
    background-color: #eb0000;
    position: fixed;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footerLogo {
    height: 7vh;
  }
  #footerSpacer {
    font-size: 7px;
    padding-left: 6vw;
  }
  #twitterLogo {
    height: 3vh;
  }
  #facebookLogo {
    height: 3vh;
  }
  #instaLogo {
    height: 3vh;
  }
  /*CSS styling for the menu page*/
  #logoContainerMenu {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 40vw 25vw 35vw;
        grid-template-columns: 40vw 25vw 35vw;
    position: fixed;
  }
  #homeFromMenuLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #aboutUsFromMenuLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #menuCategoryContainer {
    display: -ms-grid;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4d6ad;
    margin-left: 20px;
    margin-right: 20px;
    -ms-grid-rows: 10vh 10vh 10vh 10vh;
        grid-template-rows: 10vh 10vh 10vh 10vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menuCallUs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh;
        grid-template-rows: 12vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuSelectors {
    font-size: 26px;
    text-decoration: none;
  }
  .menuSelectorLinks {
    text-decoration: none;
    color: #484538;
    font-weight: bolder;
  }
  /*CSS styling for the about us page*/
  #logoContainerAboutUs {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 40vw 25vw 35vw;
        grid-template-columns: 40vw 25vw 35vw;
    position: fixed;
  }
  #homeFromAboutUsLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #menuFromAboutUsLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #videoContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding-top: 27.5px;
  }
  #hoursAndAddressDiv {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  #hoursAndAddress {
    text-align: center;
    color: white;
    font-size: 22px;
  }
  #writtenContentContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60vh 40vh 40vh;
        grid-template-rows: 60vh 40vh 40vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4d6ad;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .writtenContent {
    color: #484538;
    text-align: center;
    font-size: 20px;
  }
  #paragraph1 {
    padding-top: 30px;
  }
  #paragraph2 {
    padding-top: 30px;
  }
  #paragraph3 {
    padding-top: 10vh;
    padding-bottom: 12vh;
  }
  #writtenContentImage1 {
    width: 70vw;
    height: auto;
  }
  #writtenContentImage2 {
    width: 70vw;
    height: auto;
    padding-top: 10vh;
  }
}

@media only screen and (min-width: 900px) {
  /*CSS styling for the home page*/
  * {
    margin: 0px;
    padding: 0px;
  }
  #body {
    background-image: url("../images/backgroundImageTabletDesktop.jpg");
  }
  #headerGridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh;
        grid-template-rows: 12vh;
  }
  #logo {
    height: 12vh;
    width: auto;
  }
  #logoContainer {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 30vw 40vw 30vw;
        grid-template-columns: 30vw 40vw 30vw;
    position: fixed;
  }
  #headerNavbarSpacer {
    height: 7vh;
  }
  #navbarGridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 9vh 8vh 8vh;
        grid-template-rows: 9vh 8vh 8vh;
    justify-items: center;
  }
  #callMe {
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    color: white;
  }
  #ourMenu {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }
  #aboutUs {
    text-decoration: none;
    color: white;
    font-size: 26px;
  }
  #postLinksDivider {
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
  #ourLocationContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh 20vh;
        grid-template-rows: 12vh 20vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #ourLocation {
    font-size: 26px;
    color: white;
  }
  #googleMapsLocation {
    width: 80vw;
    height: auto;
  }
  #footerContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15vw 40vw 15vw 15vw 15vw;
        grid-template-columns: 15vw 40vw 15vw 15vw 15vw;
    -ms-grid-rows: 7vh;
        grid-template-rows: 7vh;
    background-color: #eb0000;
    position: fixed;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footerLogo {
    height: 7vh;
  }
  #footerSpacer {
    font-size: 7px;
    padding-left: 6vw;
  }
  #twitterLogo {
    height: 3vh;
  }
  #facebookLogo {
    height: 3vh;
  }
  #instaLogo {
    height: 3vh;
  }
  /*CSS styling for the menu page*/
  #logoContainerMenu {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 40vw 25vw 35vw;
        grid-template-columns: 40vw 25vw 35vw;
    position: fixed;
  }
  #homeFromMenuLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #aboutUsFromMenuLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #menuCategoryContainer {
    display: -ms-grid;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4d6ad;
    margin-left: 20px;
    margin-right: 20px;
    -ms-grid-rows: 10vh 10vh 10vh 10vh;
        grid-template-rows: 10vh 10vh 10vh 10vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menuCallUs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 12vh;
        grid-template-rows: 12vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuSelectors {
    font-size: 26px;
    text-decoration: none;
  }
  .menuSelectorLinks {
    text-decoration: none;
    color: #484538;
    font-weight: bolder;
  }
  /*CSS styling for the about us page*/
  #logoContainerAboutUs {
    background-color: #eb0000;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 40vw 25vw 35vw;
        grid-template-columns: 40vw 25vw 35vw;
    position: fixed;
  }
  #homeFromAboutUsLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #menuFromAboutUsLink {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #videoContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding-top: 27.5px;
  }
  #hoursAndAddressDiv {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  #hoursAndAddress {
    text-align: center;
    color: white;
    font-size: 22px;
  }
  #writtenContentContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60vh 40vh 40vh;
        grid-template-rows: 60vh 40vh 40vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4d6ad;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .writtenContent {
    color: #484538;
    text-align: center;
    font-size: 20px;
  }
  #paragraph1 {
    padding-top: 30px;
  }
  #paragraph2 {
    padding-top: 30px;
  }
  #paragraph3 {
    padding-top: 10vh;
    padding-bottom: 12vh;
  }
  #writtenContentImage1 {
    width: 70vw;
    height: auto;
  }
  #writtenContentImage2 {
    width: 70vw;
    height: auto;
    padding-top: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */